.head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 16px 4px 4px 4px;
}

.search {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 2px;
  background-color: #f5f5f5;
}

.search input {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  padding: 0 4px;
}

.search button {
  background-color: #0070f3;
  border: none;
  border-radius: 8px;
  padding: 2px 8px;
  cursor: pointer;
  transition: all .3s ease;
}

.menu, .active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.menu span, .active span{
  background-color: #000;
  display: block;
  width: 32px;
  height: 4px;
  border-radius: 4px;
  transition: all 0.25s ease;
}

.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

.active span:nth-child(2) {
  display: none;
}

.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.content {
  background-color: #f5f5f5;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: .5rem;
  position: absolute;
  top: 3.5rem;
  transition: all 0.6s ease;
  width: 90%;
}

.signout {
  align-items: center;
  background-color: #F32424;
  border-radius: .5rem;
  border-color: #444;
  border-style: solid;
  border-width: 0 2px 2px 0;
  color: #eee;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0 0 0;
  padding: .2rem .5rem;
  transition: all .3s ease;
  width: fit-content;  
}

.signout svg {
  font-weight: 600;
  margin-left: .5rem;
}

.signout:hover, .search button:hover {
  opacity: 0.7;
}