.head {
  align-items: center;
  background-color: #ffffff30;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-around;
  margin: 0;
  transition: all .4s ease;
  top: 0;
  padding: 1rem .5rem .5rem .5rem;
  position: sticky;
  width: 100%;
}

.head h2 {
  margin: 0;
}

.search {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 2px;
  background-color: #f5f5f5;
}

.search input {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  padding: 0 4px;
  text-align: center;
}

.search button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  padding: 2px 8px;
  cursor: pointer;
  transition: all .3s ease;
}

.myLocationOn {
  cursor: pointer;
  color: #0070f3;
  transition: all .3s ease;
}

.myLocationOff {
  cursor: pointer;
  color: #000000;
  transition: all .3s ease;
  animation: jump 2s ease infinite;
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.menu, .active {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.menu span, .active span{
  background-color: #000;
  display: block;
  width: 32px;
  height: 4px;
  border-radius: 4px;
  transition: all 0.25s ease;
}

.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

.active span:nth-child(2) {
  display: none;
}

.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.content {
  background-color: #f5f5f5;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: .5rem;
  position: absolute;
  top: 3.5rem;
  transition: all 0.6s ease;
  width: 90%;
}

.signout {
  align-items: center;
  background-color: #F32424;
  border-radius: .5rem;
  border-color: #444;
  border-style: solid;
  border-width: 0 2px 2px 0;
  color: #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
  padding: .3rem .6rem;
  transition: all .3s ease;
}

.signout svg {
  margin-left: .2rem;
}

.signout:hover, .search button:hover {
  opacity: 0.7;
}